@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root .default-light,
  .default-dark,
  .base,
  .cyberpunk,
  .hacker {
    --ock-text-inverse: var(--green12) !important;
    --ock-text-foreground: var(--green12) !important; /* text color when wallet is connected */
    --ock-text-foreground-muted: var(--color11) !important;
    --ock-text-error: var(--red11) !important;
    --ock-text-primary: var(--color12) !important;
    --ock-text-success: var(--green11) !important;
    --ock-text-warning: var(--green11) !important;
    --ock-text-disabled: var(--green4) !important;

    --ock-bg-default: var(--color3) !important;
    --ock-bg-default-hover: var(--color5) !important;
    --ock-bg-default-active: var(--green4) !important;
    --ock-bg-alternate: var(--color5) !important; /* used in mint card - bg */
    --ock-bg-alternate-hover: var(--green5) !important;
    --ock-bg-alternate-active: var(--green4) !important;
    --ock-bg-inverse: var(--color10) !important;
    --ock-bg-inverse-hover: var(--green5) !important;
    --ock-bg-inverse-active: var(--green4) !important;
    --ock-bg-primary: var(--green6) !important; /* bg color when no wallet is connected */
    --ock-bg-primary-hover: var(--green5) !important;
    --ock-bg-primary-active: var(--green4) !important;
    --ock-bg-primary-washed: var(--green4) !important;
    --ock-bg-primary-disabled: var(--green4) !important;
    --ock-bg-secondary: var(--green6) !important; /* bg color when wallet is connected */
    --ock-bg-secondary-hover: var(--green5) !important;
    --ock-bg-secondary-active: var(--green4) !important;
    --ock-bg-error: var(--red11) !important;
    --ock-bg-warning: var(--red11) !important;
    --ock-bg-success: var(--green11) !important;
    --ock-bg-default-reverse: var(--green6) !important; /* used in mint card */

    --ock-icon-color-primary: var(--green11) !important;
    --ock-icon-color-foreground: var(--color12) !important;
    --ock-icon-color-foreground-muted: var(--green11) !important;
    --ock-icon-color-inverse: var(--green11) !important;
    --ock-icon-color-error: var(--red11) !important;
    --ock-icon-color-success: var(--green11) !important;
    --ock-icon-color-warning: var(--green11) !important;

    --ock-line-primary: var(--color6) !important;
    --ock-line-default: var(--color6) !important;
    --ock-line-heavy: var(--color6) !important;
    --ock-line-inverse: var(--color6) !important;
  }
}

html {
  overflow: hidden !important;
  overscroll-behavior: none !important;
}

body {
  height: 100vh !important;
  display: flex;
  flex: 1;
  justify-content: center;
  overflow: hidden !important;
  overscroll-behavior: none !important;

  & > div:first-child {
    width: 100%;
    margin-inline: auto;
    display: flex;
    height: 100%;
    min-height: 100%;
    flex-direction: column;
    flex: 1;
    overflow: hidden !important;
    overscroll-behavior: none !important;
  }
}

input[type='time']::-webkit-calendar-picker-indicator {
  display: none !important;
  -webkit-appearance: none;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none !important;
  -webkit-appearance: none;
}

input[type='date'] {
  position: relative;
}
